.BBAName{
font-family: Italiana;
font-size: 40px;
font-style: normal;
font-weight: 400;
line-height: normal;
background: -webkit-linear-gradient(#4151A3, #AA0099);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.BBANameMobile{
    font-family: Italiana;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    background: -webkit-linear-gradient(#4151A3, #AA0099);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
.active{
    color: #AA0099;
}
.SpecNavName{
    color: #4D4D4D;
font-family: Istok Web;
font-size: 18px;
font-style: normal;
font-weight: 400;
line-height: normal;
}


@media only screen and (max-width: 768px) {
    .SpecNavName{
    color: #4D4D4D;
    font-family: Istok Web;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}
@media only screen and (max-width: 468px) {
    .SpecNavName{
    color: #4D4D4D;
    font-family: Istok Web;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    }
}